body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subreddit {
  font-size: 0.8rem;
  color: orangered !important
}

a:link {
  text-decoration: none;
  color: black
}

a:visited {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.score-positive {
  color: green;
  font-size: 0.8rem;
}

.score-negative {
  color: red;
  font-size: 0.8rem;

}

.score-positive:before {
  content: "+";

}

.date {
  font-size: 0.8rem;
}